<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">

	<title>CRM - Customer Relationship Manager</title>
</head>
<body>
<div id="header">
	<h2>CRM - Customer Relationship Manager</h2>
</div>

<input type="button" value="Add customer" onclick="location.href='saveForm';"/>

<table id="customers">
	<tr>
		<th>First name</th>
		<th>Last name</th>
		<th>Email</th>
		<th>Action</th>
	</tr>
	<tr th:each="customer : ${customers}">
		<td th:text="${customer.getFirstName()}"/>
		<td th:text="${customer.getLastName()}"/>
		<td th:text="${customer.getEmail()}"/>
		<td>
			<a th:href="@{updateForm(customerId=${customer.getId()})}">Update</a>
			|
			<a th:href="@{delete(customerId=${customer.getId()})}">Delete</a>
		</td>
	</tr>
</table>
</body>
</html>